<img loading="lazy" src="../../public/icons/logo.svg" />
<div class="column">
	<a href="#">Become an Artist</a>
	<a href="#">Sell Artworks</a>
	<a href="#">Become a Partner</a>
	<a href="#">Affiliate Program</a>
	<a href="#">Payment Methods</a>
</div>
<div class="column">
	<a href="#">Privacy Policy</a>
	<a href="#">Terms and Conditions</a>
	<a href="#">FAQ</a>
</div>
<div class="column">
	<a href="https://www.instagram.com/" target="_blank">Instagram</a>
	<a href="https://www.facebook.com/" target="_blank">Facebook</a>
	<a href="https://twitter.com/" target="_blank">Twitter</a>
	<a href="https://linkedin.com/" target="_blank">LinkedIn</a>
	<a href="https://www.pinterest.com/" target="_blank">Pinterest</a>
</div>
<div class="full-width">
	<p>&copy; 2024 Artsyme. All rights reserved.</p>
</div>
